{% if site.adn_user %}
<section>
  <h1>Latest from App.net</h1>
  <ul id="adn_posts">
    <li class="loading">Status updating...</li>
  </ul>
  <a id="adn_follow" href="https://alpha.app.net/intent/follow/?user_id=@{{site.adn_user}}">Follow @{{site.adn_user}} on App.net</a>
  <script type="text/javascript">
    $(document).ready(function(){
      getADNFeed("{{site.adn_user}}", {{site.adn_post_count}}, {{site.adn_show_replies}});
    });
  </script>
  <script src="{{ root_url }}/javascripts/adn.js" type="text/javascript"> </script>
</section>
{% endif %}
