<section>
  <h1> 郝海龙</h1>
  <p>80后诗人，独立译者，GRE讲师，Podcastor，现居巴黎。 </p>
  <p>本博客是我专门用来写偏向理工社科文章的博客，点击导航栏的「<a href="http://haohailong.net/" target="_blank"><i class="fa fa-leaf"></i> 另一面</a>」即可到我的主博客。 </p>
  <p class="sideabout"><table>
    <tr><th><a href="http://weibo.com/haohailong" target="_blank" title=" 我的微博">
  <i class="fa fa-weibo fa-2x"></i></a></th>
      <th><a href="https://twitter.com/haohailong" target="_blank" title="My Twitter">
  <i class="fa fa-twitter fa-2x"></i></a></th>
      <th><a href="https://facebook.com/haohailong" target="_blank" title="My Facebook">
  <i class="fa fa-facebook-square fa-2x"></i></a></th>
      <th><a href="https://itunes.apple.com/cn/podcast/hai-long-yi-sheng-hou/id603056780" target="_blank" title="My Podcast: 海龙一声吼">
  <i class="fa fa-headphones fa-2x"></i></a></th>
      <th><a href="{{ root_url }}/about/buy-me-coffee.html" target="_blank" title="请郝海龙喝咖啡">
  <i class="fa fa-coffee fa-2x"></i></a></th></tr>
</table></p>
</section>
