<!-- ask Google to include this site -->
<link rel="canonical" href="http://shengmingzhiqing.com">
<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Special+Elite:regular" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Marko+One:regular" rel="stylesheet" type="text/css">

<!-- adn app.net-->
<!--script type="text/javascript" src="{{ root_url }}/javascripts/adn-timeline.min.js"></script>-->

<!-- mathjax config similar to math.stackexchange -->

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>

  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
      });
  </script>

  <script type="text/x-mathjax-config">
      MathJax.Hub.Queue(function() {
          var all = MathJax.Hub.getAllJax(), i;
          for(i=0; i < all.length; i += 1) {
              all[i].SourceElement().parentNode.className += ' has-jax';
          }
      });
  </script>

  <script type="text/javascript"
     src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

<!--新窗口中打开链接-->
<script type="text/javascript">
function addBlankTargetForLinks () {
  $('a[href^="http"]').each(function(){
      $(this).attr('target', '_blank');
  });
}
$(document).bind('DOMNodeInserted', function(event) {
  addBlankTargetForLinks();
});
</script>

<!--bigfoot-->
<style>@import url("/stylesheets/bigfoot-number.scss");</style>
<script type="text/javascript" src="{{ root_url }}/javascripts/libs/jquery.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/javascripts/bigfoot.js"></script>
<script type="text/javascript">
    $.bigfoot();
</script>
