// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
/* 
body > header h1 {
  font-size: 2.2em;
  @extend .heading;
  font-family: $header-title-font-family;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0.6667em;
}
*/

h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}

ul, ol {margin-bottom: 0.6em;}


/* 提示框样式 */

.info, .warning{
	border: none;
	padding: 0.6em 1.25em 0.6em 48px;
	margin-top: 0.25em;	

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.info{
	background:#d5e9f6 url(/images/tab_info.gif) no-repeat left top;
}

.warning{
	background:#f9d9d8 url(/images/tab_red.gif) no-repeat left top;
}

/*  Markdown 目录 */

#markdown-toc:before {
  	content: "本页目录";
  	font-weight: bold;
	font-size: 1.2em;
	font-family: $sans;
	line-height: 2em;
}
ul#markdown-toc {
  	list-style: none;
	border: none;
	padding: 0.6em 1.25em;
	margin-top: 0.25em;
	margin-left: 0;	
	font-style: normal;
	font-size: 1em;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  	background-color: white;
}

.blog-index #markdown-toc {
  	display: none;
}

/* Coderay */
@import "custom/coderay";
/* overrides of the lousy styles from _syntax.scss */
/* Coderay plugin 边框设定*/
.CodeRay pre, p code, li code {
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  background: none;
  color: #000;
  &::-webkit-scrollbar {  height: .5em; background: $solar-scroll-bg; }
  &::-webkit-scrollbar-thumb:horizontal { background: $solar-scroll-thumb; border:solid #C0C0C0; -webkit-border-radius: 4px; border-radius: 4px }
}

/* fixes issue where the whole line wouldn't get colored in a diff */
.CodeRay span.insert, .CodeRay span.change, .CodeRay span.delete {
        width: auto;
}

/* revision */
.postrevision {
  	list-style: none;
	border: none;
	padding: 0.6em 1.25em 0.2em 1.25em;
	margin-top: 0.25em;
	margin-bottom: 0.8em;
	margin-left: 0;
	font-style: normal;
	//width: 40%;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	//-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	//-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	//-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  	background-color: white;
}

/* font awesome */
$fontAwesomePath: "fontawesome-webfont"
@import font-awesome

